@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto:wght@100&display=swap');
*{
   margin: 0px;
   padding: 5px ; 
   box-sizing:  border-box;
   
}
.body{
    background-color: rgb(205, 207, 209);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.header{
    margin: 9px;
   
    text-align: center;
    
}

.photo{
    background-color: rgb(241, 245, 245);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    max-width:100%;
}
.life{

    text-align: center;
}
.events{

    display: inline-block;
    text-align: left;
    max-width: 550px;

}
.footer{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

